.place__title {
  grid-area: title;
  /*justify-self: stretch;
  align-self: start;
  justify-content: end; no need for now*/
  word-break: break-word;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  /*letter-spacing: 0.3px;*/
  text-align: left;
  color: #FFFFFF;
  /*margin: 0 0 48px 0; As I made a single row gap in place*/
  margin: 0;
  padding: 0;
  min-width: 330px;
  max-width: 35.94vw;
  box-sizing: border-box;
}

/*@media (max-width: 1152px) {
  .place__title {
    min-width: 330px;
    min-height: 76px;
    font-size: 6.63vw;
    line-height: 1.06;
  }
  } no need here*/

@media (max-width: 1024px) {
  .place__title {
    /*justify-content: flex-end;*/
    max-width: 42.97vw;
    min-width: 330px;
    min-height: 76px;
    font-size: 7.03vw;
    line-height: 1.05;
  }
  }

/*@media (max-width: 960px) {
  .place__title {
    max-width: 42.97vw;
    min-width: 290px;
    font-size: 57px;
  }
  }*/

@media (max-width: 768px) {
  .place__title {
    min-width: 290px;
    max-width: 44.27vw;
    min-height: 48px; /*not 46px for some reason*/
    font-size: 42px;
    line-height: 1.1;
    letter-spacing: 0.8px;
  }
}

@media (max-width: 656px) {
  .place__title {
    /*margin: 0 20px 32px; As I made a single row gap in place*/
    margin: 0 auto 0 20px; /*0 10px 0 20px doesn't work as 321-328 give a scroll*/
    min-width: 300px;
    max-width: 93.75vw;
    /*font-size: 42px;
    line-height: 1.1; we have it in 768*/
    letter-spacing: 0.3px;
  }
  }

@media (max-width: 320px) {
.place__title {
  /*margin: 0 16px 32px; As I made a single row gap in place*/
  margin: 0 16px 0;
  min-width: 288px;
  max-width: 90vw;
  min-height: 35px;
  font-size: 32px;
  line-height: 1.09;
  letter-spacing: 0.2px;
}
}

