.lead__figure-caption {
  display: inline;
  margin: 8px 0 0;
  padding: 0;
  max-width: 12.32vw;
  min-height: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .lead__figure-caption {
    margin-left: 24px;
  }
}

@media (max-width: 320px) {
  .lead__figure-caption {
    margin-left: 16px;
}
}
