.places {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
  grid-template-rows: minmax(min-content, 1fr);
  justify-content: start;
  align-content: space-between;
  justify-items: start;
  align-items: end;
  gap: 80px;
  /*margin: 0 auto;*/
  margin: 92px auto 0;
  padding: 0;
  box-sizing: border-box;
  max-width: calc(100% - 296px);
  min-width: 928px;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1024px) {
  .places {
    margin: 92px 48px 0;
    max-width: calc(100% - 96px);
    min-width: 670px;
  }
  }

@media (max-width: 768px) {
  .places {
    gap: 73px; /*but they are different there 72, 73*/
    max-width: calc(100% - 48px);
    margin: 88px 24px 0;
  }
}

@media (max-width: 656px) {
  .places {
    margin: 80px auto 0;
    max-width: 93vw;
    min-width: 425px;
    gap: 64px;
  }
  }

@media (max-width: 425px) {
  .places {
    gap: 50px;
    max-width: 100vw;
    margin: 72px 0 0;
    min-width: 288px;
  }
  }

@media (max-width: 320px) {
.places {
  gap: 50px;
  max-width: 320px;
  margin: 64px 0 0;
  min-width: 288px;
}
}

