.places {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
  grid-template-rows: minmax(min-content, 1fr);
  justify-content: start;
  /*align-content: space-between; not here*/
  /*justify-items: start;
  align-items: end; not here*/
  gap: 80px;
  /*margin: 0 auto;*/
  margin: 92px auto 0;
  padding: 0;
  min-width: 920px;
  max-width: 76.88vw;
  /*object-fit: cover;
  object-position: center; not here*/
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .places {
    /*margin: 92px auto 0; not here*/
    max-width: 90.63vw;
    min-width: 710px;
  }
  }

@media (max-width: 768px) {
  .places {
    gap: 73px; /*but they are different there 72, 73*/
    min-width: 320px;
    max-width: 93.75vw;
    margin: 88px auto 0 24px;
  }
}

@media (max-width: 656px) {
  .places {
    margin: 80px auto 0;
    max-width: 89.63vw;
    min-width: 280px;
    gap: 64px;
  }
  }

@media (max-width: 425px) {
  .places {
    gap: 50px;
    max-width: 100vw;
    margin: 72px 0 0;
    min-width: 288px;
  }
  }

@media (max-width: 320px) {
.places {
  /*gap: 50px;
  max-width: 320px; no need as 425*/
  margin: 64px 0 0;
  /*min-width: 288px; no need as 425*/
}
}

