.places {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(-webkit-min-content, 1fr);
  -ms-grid-columns: minmax(min-content, 1fr);
  grid-template-columns: minmax(-webkit-min-content, 1fr);
  grid-template-columns: minmax(min-content, 1fr);
  -ms-grid-rows: minmax(-webkit-min-content, 1fr);
  -ms-grid-rows: minmax(min-content, 1fr);
  grid-template-rows: minmax(-webkit-min-content, 1fr);
  grid-template-rows: minmax(min-content, 1fr);
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  gap: 80px;
  margin: 92px auto 0;
  padding: 0;
  min-width: 920px;
  max-width: 76.88vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 1281px) {
  .places {
    min-width: 984px;
    max-width: calc(100% - 296px);
  }
  }

@media (max-width: 1024px) {
  .places {
    min-width: 710px;
    max-width: 90.63vw;
  }
  }

@media (max-width: 768px) {
  .places {
    gap: 73px;
    margin: 88px auto 0 24px;
    min-width: 320px;
    max-width: 93.75vw;
  }
}

@media (max-width: 656px) {
  .places {
    gap: 64px;
    margin: 80px auto 0;
    min-width: 280px;
    max-width: 89.63vw;
  }
  }

@media (max-width: 425px) {
  .places {
    gap: 50px;
    margin: 72px 0 0;
    min-width: 288px;
    max-width: 100vw;
  }
  }

@media (max-width: 320px) {
  .places {
    margin: 64px 0 0;
  }
  }

