.page {
  min-width: 320px;
  margin: 0 auto; /*без auto на больших разрешениях страница центрируется слева.*/
  padding: 0;
  font-family: 'Inter', Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #FFFFFF;
  background-color: #2A2C2F;
  list-style: none;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  /*align-content: flex-end;*/
  /*width: 100%; И так без margin от page*/
}

/*.border {
  border: 1px solid red;
}

.border_bl {
  border: 1px solid blue;
}

.border_gr {
  border: 1px solid green;
}*/

.header__container {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  align-items: flex-end;
  max-height: calc(10.5vh - 1.75rem); /*not 10vh сыпется lead Заменила height на max-height */
  margin: 1.75rem auto 0 auto; /*margin: 28px auto 0 auto;*/
  padding: 0;
  width: calc(100% - 6rem); /*Вписывается с width: calc(100% - 89px); Works calc(100% - 96px)*/
}

/*.logo {
  display: flex;
  flex: 0 1 auto; /* flex: 0.2 1 auto; при background-size: contain;
  Чтобы на 4000 лого норм растягивалось*/
 /* background: url(./images/header-logo.svg);
  /*object-fit: cover; Не надо вообще*/
 /* background-size: cover; /*Без него и только с object-fit
  терялась картинка в истинном масштабе и в 320px*/
 /* background-position: center;
  background-repeat: no-repeat;
  width: 19%; /*Max не подходит.!Не забыть поменять в медиа для 320, max на 1280 поставить!*/
  /*height: 100%; /*52px; /*Вписывается с height: 60px;*/
  /*!Не забыть поменять в медиа для 320, max на 1280 поставить!
}*/

.logo { /*More adaptive for bigger screens*/
  display: flex;
  flex: 0 1 auto;
  background: url(./images/header-logo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 19%;
  height: 6.5vh;
  object-fit: contain;
  object-position: center;
}

.menu {
  display: flex;
  flex-wrap: wrap; /*Чтобы при увеличении количества ссылок, они не ломались*/
  align-items: stretch;
  margin: 0;
  padding: 0;
}

.menu__lang-link {
  margin-right: 1.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem; /*Вписывается с line-height: 2rem, но по макету 1.75rem;
  Чекнула в Perf Pix */
  letter-spacing: 0em;
  color: #FFFFFF;
  text-decoration: none;
}

.menu__lang-link.active {
  position: relative;
  top: 0;
  left: 0;
}

.menu__lang-link:hover {
  transition: opacity .2s linear;
  opacity: 0.8;
  cursor: pointer;
}

.menu__lang-link.active::after {
  content: "";
  display: block;
  position: relative;
  top: -3px; /*Чтобы Ru En встали на место в Perf Pix*/
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
}

.menu__lang-link::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #FFFFFF;
  transition: width 0.4s ease-in-out;
}

.menu__lang-link:hover:after {
  /*transition: opacity .2s linear;
  opacity: 0.5;*/
  cursor: pointer;
  width: 100%;
}

.menu__lang-link:last-of-type {
  display: block;
  margin-right: 0;
}

.lead {
  /*display: flex;
  justify-content: center;*/
  margin: 3rem auto 0; /*Was margin: 48px auto 0;*/
  padding: 0;
}

.lead__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  width: calc(100% - 6rem); /*Works calc(100% - 96px)*/
  min-height: calc(100% - 3.06rem);
}

.lead__title {
  margin: 0 auto;
  padding: 0;
  max-width: 93.8vh; /*720 от 928 77,59%;
  for 1280 min-width: 70.4vh OR max-width: 60.8%;
  */ /*Марджины блоков в lead__container*/
  word-break: break-word; /*Важно чтобы добавлять новый текст
  легко перемещался на новые строки*/
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1.05; /*1.04 actually*/
  letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}

.lead__subtitle {
  /*margin: 32px auto 56px auto; /*Иначе моём миксе у figure и img margin 56 появляется*/
  margin: 2rem auto 0;
  padding: 0;
  max-width: 68.97%; /*640 от 928 68.97%*/
  word-break: break-word;
  font-style: normal;
  font-weight: 400;
  font-size: 1.9rem;
  line-height: 1.2; /*Внимательно! Нужно интерлиньяж считать от font-size, не rem*/
/* or 120% */
  letter-spacing: 0.003em;
  text-align: center;
  color: #FFFFFF;
}

.lead__image {
  margin: 0;
  padding: 0;
  width: 100%;
  object-fit: cover; /*Для smoother breaks*/
  /*object-position: center center;*/
}

.lead__image_figure_container {
  margin-top: 3.5rem; /*Was margin-top: 56px;*/
}

.lead__image_figure_caption { /*После не забыть увеличить пропорции для бОльших экр.*/
  margin-top: 0.5rem; /*margin-top: 8px;*/
  padding: 0;
  min-width: 9.87rem; /*min-width: 158px;*/
  max-width: 17.4%; /*Должно быть 17,1, но Perf Pix*/
  font-style: normal;
  font-weight: 400;
  font-size: 0.62rem;
  line-height: inherit; /*Должно быть 1.4, но Perf Pix*/
  /* identical to box height, or 140% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.intro {
  /*display: flex;
  justify-content: flex-start;*/
  margin: 5.75rem auto 0; /*Должно быть 92, но Perf Pix*/
  padding: 0;
}

.intro__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /*position: relative;
  top: 0;
  left: 0;*/
  box-sizing: border-box;
  margin: 0 28% 0 4.7%; /*Для width: calc(100% - 334px) подходит
  margin: 0 28% 0 4.68%; Раньше было 0 27.3% 0 4.69%;
  Для бОльших margin: 0 34.5% 0 11.6%;
    width: calc(100% - 334px);*/
  width: calc(100% - 20.87rem);
  min-height: calc(100% - 5.75rem);
  padding: 0;
}

.intro__title {
  margin: 0;
  padding: 0;
  width: 100%; /*720 от 928 77,59%*/ /*Марджины блоков в lead__container*/
  word-break: break-word; /*Важно чтобы добавлять новый текст
  легко перемещался на новые строки*/
  font-style: normal;
  font-weight: 900;
  font-size: 3.39rem; /*Was 3.39rem;*/
  line-height: 1.074; /*Was 1.074;*/
/* or 104% */
  letter-spacing: 0; /*Was 0.01em;*/
  text-align: left;
  color: #FFFFFF;
}

.intro__text {
  margin: 2.5rem 0 0 0; /*Was margin: 40px 0 0 0;*/
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem; /*Was 163% sometimes 1.65rem*/
  /* or 26px */
  letter-spacing: 0;
}

.intro__list {
  margin: 2.06rem 0 0 0; /*Was margin: 33px 0 0 0;*/
  padding: 0;
  list-style: none;
}

.intro__list-item {
  font-style: normal;
  font-weight: 700;
  font-size: 0.7rem;
  line-height: 1.57;
  /* or 150% */
  letter-spacing: 0.04em;
}

.span-accent {
  font-weight: 400;
  letter-spacing: 0;
}

.photo-grid {
  margin: 5.75rem 0 0; /*Was margin: 48px auto 0;*/
  padding: 0;
}

.photo-grid__items {
  display: grid;
  margin: 0 4.7% 0 4.7%;
  padding: 0;
  max-width: calc(100% - 4.75rem);
  min-height: calc(100% - 5.75rem);
  grid-template-columns: repeat(3, minmax(225px, max-content)); /*225px*/
  grid-template-rows: repeat(4, minmax(min-content, 1fr));
  gap: 14px; /*14px*/
}
/*Для 1024*/
.photo-grid__item {
  min-width: 300px; /*300px*/
  max-height: 225px; /*225px*/
}

/*.photo-grid__items {
  display: grid;
  margin: 0 3.8% 0 3.8%;
  padding: 0;
  max-width: calc(100% - 4.75rem);
  min-height: calc(100% - 5.75rem);
  grid-template-columns: repeat(4, minmax(213px, max-content)); /*213px*/
  /*grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));
  gap: 16px; 16px
}*/
/*Для 1280 и
.photo-grid__item {
  max-width: 284px;
  max-height: 213px;
}*/


