.page {
  min-width: 320px;
  min-height: 240px;
  margin: 0 auto; /*без auto на больших разрешениях страница центрируется слева.*/
  padding: 0;
  font-family: 'Inter', Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  color: #FFFFFF;
  background-color: #2A2C2F;
  list-style: none;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
}
  /*align-content: flex-end;*/
  /*width: 100%; И так без margin от page*/

/*.border {
  border: 1px solid red;
}

.border_bl {
  border: 1px solid blue;
}

.border_gr {
  border: 1px solid green;
}*/

/*На 1024 х 600 Nest Hub НЕ РАБОТАЕТ как надо*/
/*.header__container {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  align-items: flex-end;
  max-height: calc(10.5vh - 1.75rem); /*not 10vh сыпется lead Заменила height на max-height */
  /*margin: 1.75rem auto 0 auto; /*margin: 28px auto 0 auto;*/
  /*padding: 0;
  /*width: calc(100% - 6rem); /*Вписывается с width: calc(100% - 89px); Works calc(100% - 96px)*/
/*}*/

/*Old*/
/*.logo {
  display: flex;
  flex: 0 1 auto; /* flex: 0.2 1 auto; при background-size: contain;
  Чтобы на 4000 лого норм растягивалось*/
 /* background: url(./images/header-logo.svg);
  /*object-fit: cover; Не надо вообще*/
 /* background-size: cover; /*Без него и только с object-fit
  терялась картинка в истинном масштабе и в 320px*/
 /* background-position: center;
  background-repeat: no-repeat;
  width: 19%; /*Max не подходит.!Не забыть поменять в медиа для 320, max на 1280 поставить!*/
  /*height: 100%; /*52px; /*Вписывается с height: 60px;*/
  /*!Не забыть поменять в медиа для 320, max на 1280 поставить!
}*/

/*More adaptive for bigger screens Но на 1024 х 600 Nest Hub НЕ РАБОТАЕТ как надо*/
/*.logo {
  display: flex;
  flex: 0 1 auto;
  background: url(./images/header-logo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 19%;
  height: 6.5vh;
  object-fit: contain;
  object-position: center;
}*/

/*На 1024 х 600 Nest Hub РАБОТАЕТ как надо*/
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
  min-height: calc(10vh - 1.75rem);
  margin: 1.75rem auto 0 auto;
  padding: 0;
  width: calc(100% - 6rem);

}

/*На 1024 х 600 Nest Hub РАБОТАЕТ как надо*/
.logo {
  display: inline-block; /*Changed fron flex*/
  /*flex: 0 1 auto;*/
  background: url(./images/header-logo.svg);
  background-size: contain; /*Меняла по ср со старым; changed from cover*/
 /*Только с 29 не обрезается на больших, но на 768 придётся менять размер*/
  background-position: center center;
  background-repeat: no-repeat;
  width: 17.2vw; /*1024x600 19%; 1280x800 22vh; changed from 19%*/
  height: 8.7vh;
  /*Для 1280 x 800 Nest Hub Max РАБОТАЕТ 6.2vh; Changed from 8.68vh*/
  object-fit: contain;
  object-position: center;
}

/*На 1280 х 800 Nest Hub РАБОТАЕТ как надо*/
/*.logo {
  display: flex;
  flex: 0 1 auto;
  background: url(./images/header-logo.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 22vh;
  height: 6.2vh;
  object-fit: contain;
  object-position: center;
}*/

.menu {
  display: flex;
  flex-wrap: wrap; /*Чтобы при увеличении количества ссылок, они не ломались*/
  align-items: stretch;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
  left: 0;
}

.menu__lang-link {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.17; /*Вписывается с line-height: 2rem, но по макету 1.75rem;
  Чекнула в Perf Pix */
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
  top: -1px;
  left: 0;
  margin-right: 1.2rem;
}

.menu__lang-link.active {
  position: relative;
  top: -2px;
  left: 0;
  width: fit-content;
}

.link-transition:hover {
  transition: opacity .1s linear;
  opacity: 0.8;
  cursor: pointer;
}

.menu__lang-link.active::after {
  content: "";
  display: block;
  position: relative;
  top: -1px; /*Чтобы Ru En встали на место в Perf Pix*/
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
}

.menu__lang-link::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #FFFFFF;
  transition: width 0.4s ease-in-out;
}

.menu__lang-link:hover:after {
  /*transition: opacity .2s linear;
  opacity: 0.5;*/
  cursor: pointer;
  width: 100%;
}

.menu__lang-link:last-of-type {
  display: block;
  margin-right: 0;
}

.lead {
  /*display: flex;
  justify-content: center;*/
  margin: 3rem auto 0; /*Was margin: 48px auto 0;*/
  padding: 0;
}

.lead__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  width: calc(100% - 6rem); /*Works calc(100% - 96px) max*/
  min-height: calc(100% - 3.06rem);
}

/*На 1024 х 600 Nest Hub НЕ РАБОТАЕТ как надо*/
/*.lead__title {
  margin: 0 auto;
  padding: 0;
  max-width: 93.8vh; /*720 от 928 77,59%;
  for 1280 min-width: 70.4vh OR max-width: 60.8%;
  */ /*Марджины блоков в lead__container*/
  /*word-break: break-word; /*Важно чтобы добавлять новый текст
  легко перемещался на новые строки*/
  /*font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1.05; /*1.04 actually*/
  /*letter-spacing: 0em;
  text-align: center;
  color: #FFFFFF;
}*/

/*На 1024 х 600 Nest Hub РАБОТАЕТ как надо*/
.lead__title {
  margin: 0 auto;
  padding: 0;
  width: calc(100% - 13rem); /*На 1024 х 600 Nest Hub РАБОТАЕТ как надо*/
  word-break: break-word; /*Важно чтобы добавлять новый текст
  легко перемещался на новые строки*/
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1.04;
  letter-spacing: 0;
  text-align: center;
  color: #FFFFFF;
}


.lead__subtitle {
  /*margin: 32px auto 56px auto; Иначе моём миксе у figure и img margin 56 появляется*/
  margin: 2rem auto 0;
  padding: 0;
  width: calc(100% - 18rem); /*Работает на 1024х600*//*640 от 928 68.97%; 68.97%;*/
  word-break: break-word;
  font-style: normal;
  font-weight: 400;
  font-size: 1.87rem;
  line-height: 1.2; /*Внимательно! Нужно интерлиньяж считать от font-size, не rem*/
/* or 120% */
  text-align: center;
  color: #FFFFFF;
}

.lead__image {
  margin: 0;
  padding: 0;
  width: 100%;
  object-fit: cover; /*Для smoother breaks*/
  /*object-position: center center;*/
}

.lead__image_figure_container {
  margin-top: 3.5rem; /*Was margin-top: 56px;*/
}

.lead__image_figure_caption { /*После не забыть увеличить пропорции для бОльших экр.*/
  margin-top: 0.5rem; /*margin-top: 8px;*/
  padding: 0;
  min-width: 9.87rem; /*min-width: 158px;*/
  max-width: 17.1%; /*Должно быть 17,1, но Perf Pix*/
  font-style: normal;
  font-weight: 400;
  font-size: 0.62rem;
  line-height: inherit; /*Должно быть 1.4, но Perf Pix*/
  /* identical to box height, or 140% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.intro {
  /*display: flex;
  justify-content: flex-start;*/
  margin: 5.75rem auto 0; /*Должно быть 92, но Perf Pix*/
  padding: 0;
}

.intro__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /*position: relative;
  top: 0;
  left: 0;*/
  box-sizing: border-box;
  margin: 0 28% 0 4.7%; /*Для width: calc(100% - 334px) подходит
  margin: 0 28% 0 4.68%; Раньше было 0 27.3% 0 4.69%;
  Для бОльших margin: 0 34.5% 0 11.6%;
    width: calc(100% - 334px);*/
  max-width: calc(100% - 20.87rem);
  min-height: calc(100% - 5.75rem);
  padding: 0;
}

.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 3.39rem; /*Was 3.39rem;*/
  line-height: 1.074; /*Was 1.074;*/
/* or 104% */
  letter-spacing: 0; /*Was 0.01em;*/
  text-align: left;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  max-width: 100%; /*720 от 928 77,59%*/
  word-break: break-word; /*Важно чтобы добавлять новый текст
  легко перемещался на новые строки*/
}

.intro__text {
  margin: 2.5rem 0 0 0; /*Was margin: 40px 0 0 0;*/
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625; /*Was 163% sometimes 1.65rem*/
  /* or 26px */
}

.intro__list {
  margin: 2.06rem 0 0 0; /*Was margin: 33px 0 0 0;*/
  padding: 0;
  list-style: none;
}

.intro__list-item {
  font-style: normal;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  /* or 150% */
}

.span-accent {
  font-weight: 400;
  letter-spacing: 0;
}

/*Для 1024*/
.photo-grid {
  margin: 5.75rem 0 0; /*Was margin: 48px auto 0;*/
  padding: 0;
  object-fit: cover;
  object-position: center;
}

.photo-grid__items {
  display: grid;
  margin: 0 4.7%;
  padding: 0;
  box-sizing: border-box;
  max-width: calc(100% - 4.75rem);
  min-height: calc(100% - 5.75rem);
  grid-template-columns: repeat(auto-fit, minmax(28%, 1fr));
  /*Хорошо встал разброс от 24 до 32% взяла ср ариф repeat(auto-fit, minmax(28%, 1fr))*/
  grid-template-rows: repeat(4, minmax(min-content, 1fr));
  gap: 0.87rem;
}

.photo-grid__item {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*Для 1280*/
/*.photo-grid {
  margin: 5.75rem 0 0;
  padding: 0;
  object-fit: cover;
  object-position: center;
}

.photo-grid__items {
  display: grid;
  margin: 0 3.75% 0 3.75%;
  padding: 0;
  max-width: calc(100% - 4.75rem);
  min-height: calc(100% - 5.75rem);
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  /*Хорошо встал разброс от 19 до 23% взяла ср ариф repeat(auto-fit, minmax(21%, 1fr))*/
  /* Спорно и без него норм работаем grid-template-rows: repeat(3, minmax(min-content, 1fr));*/
  /*gap: 16px;
}

.photo-grid__item {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}*/

/* Больше 1280*/
/*.photo-grid {
  margin: 6rem 0 0;
  padding: 0;
  object-fit: cover;
  object-position: center;
}

.photo-grid__items {
  display: grid;
  margin: 0 3.75% 0 3.75%;
  padding: 0;
  max-width: calc(100% - 4.75rem);
  min-height: calc(100% - 6rem);
  grid-template-columns: repeat(auto-fit, minmax(348px, 1fr));
  /*Хорошо на 2560 встал разброс от 20 до 24% взяла ср ариф repeat(auto-fit, minmax(22%, 1fr))*/
  /*Не надо grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));*/
  /*gap: 18px;
}

.photo-grid__item {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}*/

/*Для 768*/
/*.photo-grid {
  margin: 5.5rem 0 0;
  padding: 0;
  object-fit: cover;
  object-position: center;
}

.photo-grid__items {
  display: grid;
  margin: 0 3.15% 0 3.15%;
  padding: 0;
  max-width: calc(100% - 3rem);
  min-height: calc(100% - 5.5rem);
  grid-template-columns: repeat(auto-fit, minmax(264px, 1fr));
  /*Хорошо на 2560 встал разброс от 32 до 48% взяла ср ариф repeat(auto-fit, minmax(40%, 1fr))*/
  /*grid-template-rows: repeat(3, minmax(min-content, 1fr));
  gap: 16px;
}

.photo-grid__item {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
*/

/*Для 320*/
/*.photo-grid {
  margin: 4rem 0 0;
  padding: 0;
  object-fit: cover;
  object-position: center;
}

.photo-grid__items {
  display: grid;
  margin: 0 5% 0 5%;
  padding: 0;
  max-width: calc(100% - 2rem);
  min-height: calc(100% - 4rem);
  grid-template-columns: repeat(auto-fit, minmax(216px, 1fr));
  /*Хорошо на 2560 встал разброс от 49 до 100% взяла ср ариф repeat(auto-fit, minmax(74.5%, 1fr))*/
  /*grid-template-rows: repeat(3, minmax(min-content, 1fr));
  gap: 12px;
}

.photo-grid__item {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}*/

.places {
  margin: 5.75rem auto 0;
  padding: 0;
}

.places__container {
  display: grid;
  grid-template-columns: minmax(min-content, 1fr);
  grid-template-rows: minmax(min-content, 1fr);
  justify-content: start;
  align-content: space-between;
  justify-items: start;
  align-items: end;
  gap: 5rem;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  max-width: calc(100% - 6rem);
  min-height: calc(100% - 5.75rem);
  object-fit: cover;
  object-position: center;
}

.place {
  display: grid;
  grid-template-columns: 47.35% minmax(min-content, 1fr);
  /*Важно 47.45% т.к. 47.4%*/
  grid-template-rows: minmax(min-content, 1fr);
  grid-template-areas:
    "title website"
    "image paragraph-first"
    "image paragraph-second";
  column-gap: 2rem; /*Change in other sizes*/
  /*row-gap: 27px;*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%; /*От places же*/
  min-height: calc(100% - 5rem); /*80px gap*/
  /*max-height: fit-content;*/
  object-fit: cover;
  object-position: center;
}

.place__title {
  grid-area: title;
  justify-self: stretch;
  align-self: start;
  word-break: break-word;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem; /*72px*/
  line-height: 1.05;
  text-align: left;
  color: #FFFFFF;
  /*margin: 0 0 1.31rem 0;*/
  margin: 0 0 3.04rem 0;
  padding: 0;
}

.place__website {
  grid-area: website;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
  align-self: end;
  /*margin: 0 0 1.31rem 0;*/
  margin: 0 0 2.9rem 0;
  padding: 0;
}

.place__website-url-heading {
  word-break: break-word;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem; /*12px*/
  line-height: 1; /*Помнить, что от font-size считается*/
  letter-spacing: 0.125em; /*2px*/
  color: #AAAAAA;
  margin: 0;
  padding: 0;
  width: 100%;
}

.place__website-link {
  word-break: break-word;
  font-style: normal;
  font-weight: 400;
  font-size: 1.12rem; /*18px*/
  line-height: 1.2; /*Помнить, что от font-size считается*/
  letter-spacing: 0; /*2px*/
  text-decoration-line: underline;
  color: #FFFFFF;
  margin: 0.75rem 0 0 0;
  padding: 0;
  width: 100%;
}

.place__image {
  grid-area: image;
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.places__paragraphs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.place__paragraph_first {
  grid-area: paragraph-first;
  word-break: break-word;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.61;
  letter-spacing: 0;
  color: #FFFFFF;
  text-align: start;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.place__paragraph_second {
  grid-area: paragraph-second;
  word-break: break-word;
  font-style: normal;
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 1.625;
  letter-spacing: 0.001em;
  color: #FFFFFF;
  text-align: start;
  margin: 1.68rem 0 0 0; /* margin: -8px 0 0 0;*/
  padding: 0;
  max-width: 100%;
}

.place__paragraph_second:nth-of-type(2n) {
  margin: 1.62rem 0 0 0;
}

.cover {
  margin: 5.75rem auto 0; /*Was margin: 48px auto 0;*/
  padding: 0;
}

.cover__container {
  word-break: break-word;
  position: relative;
  top: 0;
  left: 0;
  width: 100%; /*Change for bigger sizes width: calc(100% - 6rem)*/
  /*min-height: 106.7vh;*/ /*Change for bigger sizes add     width: calc(100% - 6rem);
  min-height: 92.5vh;*/
  min-height: 100%;
  margin: 0 auto;
  padding: 0;
  z-index: 0;
}

.cover__background {
  display: inline-block;
  background-image: url(./images/1024_cover-trains.jpg);/*Be sure to change at every
  breakpoint for every size*/
  /*background-size: 100vw; /*Change for bigger screens*/
  /*background-size: 29vh;*/
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  min-height: 40rem;
  object-fit: contain;
  object-position: center;
  z-index: 0;
}

.cover__overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(42, 44, 47, .3);
  min-height: 100%;
  width: 100%;
  z-index: 0;
}

.cover__link {
  display: block;
  text-decoration: none;
  padding: 12.3rem 14.6rem; /*~195px 232px*/ /*Нужно будет изменять паддинги для
  разных размеров*/
  box-sizing: border-box;
}

.cover__link:hover {
  width: 100%;
  height: 100%;
  background: rgba(42, 44, 47, 0.8);
}

.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem; /*72px*/
  line-height: 1.05; /*76px*/
  letter-spacing: 0;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  max-width: 100%;
  /*margin: 12.18rem auto 0;
  width: calc(100% - 45.3vw);*/ /*195px*/ /*Gonna need to change with diff sizes*/
  padding: 0;
}

.cover__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 1.22;
  /* or 122% */
  text-align: center;
  color: #FFFFFF;
  margin: 2rem auto 0;
  max-width: calc(100% - 19.2vw);
  /*margin: 2rem auto 12.18rem;
  width: calc(100% - 65vw);*/ /*195px*/ /*Gonna need to change with diff sizes*/
  padding: 0;
}

.footer {
  display: flex;
  justify-content: center;
  margin: 5.75rem auto 1.5rem auto;
  padding: 0;
}

.footer__container { /*Пплохая вложенность и nth-of-type -- зло!!!!*/
  display: flex;
  justify-content: space-between; /*320 flex-dir column*/
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  /*min-height: calc(100vh - 5.75rem);*/
  min-width: calc(100% - 6rem);
}

.footer__links {
  display: flex;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__link {
  /*justify-self: self-start;*/
  margin-right: 1.12rem;
  max-width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.12;
  letter-spacing: 0;
  color: #FFFFFF;
  text-decoration: none;
}

.footer__link:nth-last-of-type(1) {
  margin-right: 0;
}

.footer__copyright {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: 0em;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0; /*margin: 2px 0 0 0;*/
  padding: 0;
}



/*----------------media-zone-----------------------*/

/*----------for titles-----------------*/
@media (max-width: 1280px) and (min-width: 320px) {
  /*96px - 40px */
  .lead__title{
  font-size: calc(2.5rem + 56 * (100vw - 320px) / 960);
}
}

/*@media (max-width: 1280px) and (min-width: 1024px) {
  /* 96px - 96px */
  /*.lead__title{
  font-size: calc(6rem + 0 * (100vw - 1024px) / 256);
}
}*/

/*@media (max-width: 1280px) and (min-width: 768px) {
  /* 96px - 96px */
  /*.lead__title{
  font-size: calc(6rem + 0 * (100vw - 768px) / 512);
}
}*/



/*----------------------768------------------------*/
/*header 768x1024*/
@media (max-width: 768px) {

  .header__container {
    align-items: flex-end;
    min-height: calc(1vh - 1.75rem);
    margin: 1.75rem auto 0 auto;
    width: calc(100% - 3rem);
  }

  .logo {
    background-size: contain;
    /*width: 22.6vw;
    height: 4.8vh;
    background-size: 17vh;*/
    width: 11rem;
  }

/*lead 768x1024*/

  .lead__container {
    width: calc(100% - 3rem);
    min-height: calc(100% - 3rem);
  }

  .lead__title {
    width: calc(100% - 1.5rem);
  }

  .lead__subtitle {
    width: calc(100% - 8rem);
  }

  .lead__image_figure_caption {
    margin: 0.5rem 0 0 1.5rem;
  }

/*intro 768x1024*/
  .intro {
    margin: 5.5rem auto 0;
  }

  .intro__container {
    margin: 0 2% 0 3.1%;
    max-width: calc(100% - 3rem);
    min-height: calc(100% - 5.5rem);
  }

  .intro__title {
    font-size: 3.4rem;
  }

/*photo-grid 768x1024*/
  .photo-grid {
    margin: 5.5rem 0 0;
  }

  .photo-grid__items {
    margin: 0 3.15%;
    max-width: calc(100% - 3rem);
    min-height: calc(100% - 5.5rem);
    grid-template-columns: repeat(auto-fit, minmax(35%, 1fr));
    gap: 1rem;
  }

  /*places 768x1024*/
  .places {
    margin: 5.55rem auto 0;
  }

  .places__container {
    gap: 4.56rem;
    max-width: calc(100% - 3rem);
    min-height: calc(100% - 5.5rem);
  }

  .place {
    grid-template-columns: 47.25% minmax(min-content, 1fr);
    column-gap: 1.75rem;
    min-height: calc(100% - 4.56rem);
  }

  .place__title {
    font-size: 2.71rem;
    line-height: 1.07;
    margin: 0 0 3rem 0;
  }

  .place__website {
    margin: 0;
    margin: 0 0 3rem 0;
  }

  .place__website-url-heading {
    font-size: 0.73rem;
  }

  .place__website-link {
    margin: 0.75rem 0 0 0;
  }

  .place__paragraph_first {
    font-size: 1rem;
    line-height: 1.61;
  }

  .place__paragraph_second {
    font-size: 1rem;
    line-height: 1.63;
    margin: 1.56rem 0 0 0;
  }

  .place__paragraph_second:nth-of-type(2n) {
    margin: 1.56rem 0 0 0;
  }

/*cover 768x1024*/

  .cover {
    margin: 5.6rem auto 0;
  }

  .cover__container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
  }

  .cover__background {
    background-image: url(./images/768_cover-trains.jpg);
    width: 100vw;
    min-height: 30rem;
  }

  .cover__overlay {
    min-height: 100%;
  }

  .cover__link {
    padding: 7.3rem 7.2rem;
  }

  .cover__subtitle {
    max-width: calc(100% - 23.2vw);
  }

/*footer 768x1024*/

  .footer {
    margin: 5.5rem auto 1.49rem auto;
  }

  .footer__container {
    min-width: calc(100% - 3rem);
  }

  .footer__copyright {
    font-size: 0.87rem;
    line-height: 1;
  }
}


/*----------------------------max 320------------*/

@media (max-width: 320px) {
  /*header 320x256*/
  .header__container {
    align-items: flex-end;
    min-height: calc(1vh - 1rem);
    margin: 1rem auto 0 auto;
    padding: 0;
    width: calc(100% - 2rem);
  }

  .logo {
    background-size: contain;
    /*background-size: 58vh;
    width: 47vw;
    height: 17.1vh;*/
    width: 8.87rem;
  }

  .menu__lang-link {
    font-size: 1.12rem;
    text-align: right;
    line-height: 1.1;
    top: -4.5px;
  }

  .menu__lang-link.active {
    top: -5px;
  }

  /*lead 320x256*/
  .lead__container {
    width: 100%;
    min-height: calc(100% - 3rem);
  }

  .lead__title {
    font-size: 2.5rem;
    line-height: 1.1;
    max-width: calc(100% - 1.5rem);
  }

  .lead__subtitle {
    margin: 1rem auto 0;
    font-size: 1rem;
    line-height: 1.25;
    min-height: calc(100% - 1rem);
    width: calc(100% - 2rem);
  }

  .lead__image_figure_container {
    margin-top: 2.5rem;
  }

  .lead__image_figure_caption {
    margin: 0.5rem 0 0 1rem;
    font-size: 0.62rem;
    line-height: 1.4;
  }

/*intro 320x256*/
  .intro {
    margin: 4rem auto 0;
  }

  .intro__container {
    margin: 0 5% 0 5%;
    max-width: calc(100% - 2rem);
    min-height: calc(100% - 1.5rem);
  }

  .intro__title {
    max-width: calc(100% - 1.5rem);
    font-size: 2rem;
    line-height: 1.09;
  }

.intro__text {
  font-size: 1rem;
  line-height: 163%;
  width: 100%;
}

.intro__list {
  width: 100%;
  margin: 2.1rem 0 0;
}

/*photo-grid 320x256*/
  .photo-grid {
    margin: 4rem 0 0;
  }

  .photo-grid__items {
    margin: 0 1rem;
    max-width: calc(100% - 1.5rem);
    min-height: calc(100% - 4rem);
    grid-template-columns: repeat(auto-fit, minmax(80%, 1fr));
    gap: 0.75rem;
  }

  /*places 320x256*/
  .places {
    margin: 4rem auto 0;
  }

  .places__container {
    gap: 3.125rem;
    max-width: 100%;
    min-height: calc(100% -  4rem);
  }

  .place {
    display: grid;
    grid-template-columns: 100%;
    /*Важно 47.45% т.к. 47.4%*/
    grid-template-rows: repeat(5, minmax(min-content, 100%));
    grid-template-areas:
      "title"
      "website"
      "image"
      "image"
      "paragraph-first"
      "paragraph-second";
    /*row-gap: 2rem;*/ /*Удобно, не не убирался последний gap*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    min-height: calc(100% - 3.125rem);
  }

  .place__title {
    font-size: 2rem;
    line-height: 1.09;
    margin: 0 1rem;
  }

  .place__website {
    margin: 2rem 1rem 2rem;
  }

  .places__paragraphs {
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    min-height: calc(100% - 1.56rem);
    margin: 2rem 1rem 0;
  }

  .place__paragraph_first {
    font-size: 1rem;
    line-height: 1.63;
  }

  .place__paragraph_second {
    font-size: 1rem;
    line-height: 1.63;
    margin: 1.56rem 0 0 0;
  }

  .place__paragraph_second:nth-of-type(2n) {
    margin: 1.56rem 0 0 0;
  }

/*cover 320x256*/

.cover {
  margin: 4.127rem 0 0;
}

.cover__container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.cover__background {
  background-image: url(./images/320_cover-trains.jpg);
  width: 100vw;
  height: 12.5rem;
  /*position: relative;
  top: -3px;
  left: -3px;*/
}

.cover__overlay {
  min-height: 100%;
}

.cover__link {
  padding: 1.7rem 1rem;
}

.cover__title {
  font-size: 2rem;
  line-height: 1.09;
}

.cover__subtitle {
  font-size: 0.87rem;
  line-height: 1.14;
  margin: 1rem auto 0;
  max-width: calc(100% - 1vw);
}

/*footer 320x256*/

.footer {
  margin: 4rem auto 1.49rem auto;
}

.footer__container {
  flex-direction: column;
  justify-items: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
  min-height: calc(100% - 4rem);
}

.footer__links {
  flex-direction: column;
  justify-items: flex-start;
  align-content: flex-start;
  align-self: flex-start;
  flex-wrap: wrap;
}

.footer__link {
  margin-right: 0;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  line-height: 1;
}

.footer__link:nth-last-of-type(1) {
  margin-bottom: 0;
}

.footer__copyright {
  font-size: 0.87rem;
  line-height: 1;
  margin: 3rem 0 0 0;
}
}

/*----------------------------max 425------------*/

@media (max-width: 425px) {
  /*header 425x340*/

  .header__container {
    margin: 1rem auto 0 auto;
    width: calc(100% - 1.5rem);
  }

  .logo {
    background-size: contain;
    /*background-size: 58vh;
    width: 47vw;
    height: 17.1vh;*/
    width: 8.87rem;
  }

  .menu__lang-link {
    font-size: 1rem;
    line-height: 1.25;
  }

  .lead {
    margin: 2.5rem auto 0;
    padding: 0;
  }

  /*lead 425x340*/
  .lead__container {
    width: 100%;
    min-height: calc(100% - 3rem);
  }

  .lead__title {
    font-size: 2.6rem;
    max-width: calc(100% - 1.5rem);
  }

  .lead__subtitle {
    font-size: 1.25rem;
    line-height: 1.27;
  }

  .lead__image_figure_container {
    margin-top: 2rem;
  }

  .lead__image_figure_caption {
    font-size: 0.6rem;
    line-height: 1.2;
  }

/*intro 425x340*/
  .intro {
    margin: 3rem auto 0;
  }

  .intro__container {
    margin: 0 5.7% 0 5.7%;
    max-width: calc(100% - 3rem);
  }

  .intro__title {
    font-size: 2.5rem;
    line-height: 1.2;
  }

  .intro__text {
    margin: 1.5rem 0 0 0;
  }

/*photo-grid 425x340*/
  .photo-grid {
    margin: 3rem 0 0;
  }

  .photo-grid__items {
    margin: 0 1.5rem;
    max-width: calc(100% - 1.5rem);
    min-height: calc(100% - 3rem);
    grid-template-columns: repeat(auto-fit, minmax(80%, 1fr));
    gap: 0.75rem;
  }

  /*places 425x340*/
  .places {
    margin: 3rem auto 0;
  }

  .places__container {
    gap: 3.125rem;
    max-width: 100%;
    min-height: calc(100% -  4rem);
  }

  .place {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, minmax(min-content, 100%));
    grid-template-areas:
      "title"
      "website"
      "image"
      "image"
      "paragraph-first"
      "paragraph-second";
    /*row-gap: 2rem;*/ /*Удобно, не не убирался последний gap*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    min-height: calc(100% - 3.125rem);
  }

  .place__title {
    font-size: 2rem;
    line-height: 1.09;
    margin: 0 1.5rem;
  }

  .place__website {
    margin: 2.3rem 1.5rem 1.5rem;
  }

  .places__paragraphs {
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    min-height: calc(100% - 1.56rem);
    margin: 2rem 1.5rem 0;
  }

  .place__paragraph_first {
    font-size: 1rem;
    line-height: 1.63;
  }

  .place__paragraph_second {
    font-size: 1rem;
    line-height: 1.63;
    margin: 1rem 0 0 0;
  }

  .place__paragraph_second:nth-of-type(2n) {
    margin: 1rem 0 0 0;
  }

/*cover 425x340*/

.cover {
  margin: 4.127rem 0 0;
}

.cover__container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
}

.cover__background {
  background-image: url(./images/320_cover-trains.jpg);
  width: 100vw;
  height: 12.5rem;
}

.cover__overlay {
  min-height: 100%;
}

.cover__link {
  padding: 2.08rem 1rem;
}

.cover__title {
  font-size: 2rem;
  line-height: 1.09;
}

.cover__subtitle {
  font-size: 0.87rem;
  line-height: 1.14;
  margin: 1rem auto 0;
  max-width: calc(100% - 21vw);
}

/*footer 320x256*/

.footer {
  margin: 3rem auto 1.49rem auto;
}

.footer__container {
  flex-direction: column;
  justify-items: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
  min-height: calc(100% - 3rem);
}

.footer__links {
  flex-direction: column;
  justify-items: flex-start;
  align-content: flex-start;
  align-self: flex-start;
  flex-wrap: wrap;
}

.footer__link {
  margin-right: 0;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  line-height: 1;
}

.footer__link:nth-last-of-type(1) {
  margin-bottom: 0;
}

.footer__copyright {
  font-size: 0.87rem;
  line-height: 1;
  margin: 2rem 0 0 0;
}
}



/*----------------------1280------------------------*/
/*header 1280x800*/
@media (min-width: 1280px) {

  .header__container {
    min-height: calc(1vh - 1.75rem);
    width: calc(100% - 3rem);
  }


/*lead 1280x800*/

.lead__container {
  width: calc(100% - 18.5rem);
  min-height: calc(100% - 3.5rem);
}

.lead__title {
  width: calc(100% - 26.8%);
}

.lead__subtitle {
  width: calc(100% - 35%);
}

.lead__image_figure_caption {
  margin: 0.5rem 0 0 1.5rem;
}

/*intro 1280x800*/
.intro {
  margin: 5.75rem auto 0;
}

.intro__container {
  margin: 0 2% 0 3.1%;
  width: calc(100% - 36.87rem);
  min-height: calc(100% - 5.75rem);
  margin: 0 34.6% 0 11.5%
}

.intro__title {
  font-size: 3,37rem;
  line-height: 1.07;
}

.intro__text {
  font-size: 1rem;
  line-height: 163%;
}

.photo-grid__items {
  margin: 0 3.8%;
  max-width: calc(100% - 6rem);
  grid-template-columns: repeat(auto-fit, minmax(24%, 1fr));
  /*Хорошо встал разброс от 24 до 32% взяла ср ариф repeat(auto-fit, minmax(28%, 1fr))*/
  grid-template-rows: repeat(3, minmax(min-content, 1fr));
  gap: 0.87rem;
}

 /*places 1280x800*/

.places__container {
  gap: 5rem;
  max-width: calc(100% - 18.5rem);
}

.place {
  grid-template-columns: 46.8% minmax(min-content, 1fr);
  column-gap: 2.5rem;
  min-height: calc(100% - 5.75rem);
}

.place__title {
  font-size: 4.5rem;
  line-height: 1.05;
  margin: 0 0 3rem 0;
}

.place__website {
  margin: 0;
  margin: 0 0 3rem 0;
}

.place__website-url-heading {
  font-size: 0.75rem;
  line-height: 1;
}

.place__website-link {
  margin: 0.75rem 0 0 0;
}

.place__paragraph_first {
  font-size: 1.12rem;
  line-height: 1.2;
}

.place__paragraph_second {
  font-size: 1.12rem;
  line-height: 1.2;
  margin: 1.6rem 0 0 0;
}

.place__paragraph_second:nth-of-type(2n) {
  margin: 1.6rem 0 0 0;
}

/*cover 1280x800*/

.cover {
  margin: 5.75rem 0 0;
}

.cover__container {
  margin: 0 3.7% 0 3.7%;
  max-width: calc(100% - 6rem);
  min-height: calc(100% - 5.75rem);
}

.cover__background {
  background-image: url(./images/1280_cover-trains.jpg);
  width: 100vw;
  height: 46.25rem;
}

.cover__link {
  padding: 15.4rem 8rem;
}

.cover__title {
  font-size: 4.5rem;
  line-height: 1.05;
}

.cover__subtitle {
  font-size: 1.12rem;
  line-height: 1.2;
  margin: 2rem auto 0;
  max-width: calc(100% - 41.4vw);
}

}
