.lead {
  margin: 56px 148px 0;
  padding: 0;
}

@media (max-width: 1024px) {
  .lead {
    margin: 48px 48px 0;
  }
  }

@media (max-width: 768px) {
  .lead {
    margin: 48px auto 0;
  }
  }

@media (max-width: 320px) {
.lead {
  margin: 48px auto 0;
}
}
