.cover__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  word-break: break-word;
  color: #FFFFFF;
  margin: 32px auto 0;
  /*padding: 0 100px;*/
  /*max-width: 360px;*/ /*bad for 1281 and more*/
  max-width: 28.13vw;
  min-width: 306px;
}

@media (max-width: 1024px) {
  .cover__subtitle {
    justify-content: center;
    margin: 32px auto 0;
    max-width: 360px;
  }
  }

@media (max-width: 768px) {
  .cover__subtitle {
    min-width: 240px;
    max-width: 360px;
    margin: 4.17vw auto 0;
    font-size: 18px;
  }
  }

  @media (max-width: 656px) {
  .cover__subtitle {
    min-width: 10vw;
    font-size: 16px;
    line-height: 1.14;
  }
  }

/*@media (max-width: 656px) {
  .cover__subtitle {
  font-size: 16px;
  line-height: 1.14;
  margin: 24px auto 0;
  min-width: 10vw;
  }
  } ok no need here*/

@media (max-width: 320px) {
  .cover__subtitle {
  font-size: 14px;
  line-height: 1.14;
  margin: 16px 0 0;
  padding: 0;
  min-width: 288px;
  }
  }
