.cover__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 1.12rem;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  margin: 2rem auto 0;
  max-width: calc(100% - 19.2vw);
  padding: 0;
}

@media (max-width: 320px) {
.cover__subtitle {
  font-size: 0.87rem;
  line-height: 1.14;
  margin: 1rem auto 0;
  max-width: calc(100% - 1vw);
}
}

@media (max-width: 425px) {
.cover__subtitle {
  font-size: 0.87rem;
  line-height: 1.14;
  margin: 1rem auto 0;
  max-width: calc(100% - 21vw);
}
}

@media (max-width: 768px) {
.cover__subtitle {
  max-width: calc(100% - 23.2vw);
}
}

@media (min-width: 1280px) {
.cover__subtitle {
  font-size: 1.12rem;
  line-height: 1.2;
  margin: 2rem auto 0;
  max-width: calc(100% - 41.4vw);
}
}
