.header__logo {
  display: inline-block;
  background: url(../../../images/header-logo.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 17.2vw;
  height: 8.7vh;
  object-fit: contain;
  object-position: center;
}

@media (max-width: 768px) {
  .header__logo {
    background-size: contain;
    width: 11rem;
  }
}

@media (max-width: 320px) {
  .header__logo {
    background-size: contain;
    width: 8.87rem;
  }
}

@media (max-width: 425px) {
.header__logo {
  background-size: contain;
  /*background-size: 58vh;
  width: 47vw;
  height: 17.1vh;*/
  width: 8.87rem;
}
}
