.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-width: 90vw;
  max-width: 92.5vw;
  min-height: 42px;
  margin: 28px auto 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .header {
    max-width: 90.625vw;
  }
}

@media (max-width: 768px) {
  .header {
    max-width: 93.75vw;
  }
}

@media (max-width: 320px) {
  .header {
    max-width: 288px; /*works better than 90vw for smaller screens but the consistence...*/
    margin: 16px 16px 0;
    min-width: 10vw;
  }
}
