.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  min-width: calc(100% - 6rem);
}

@media (max-width: 320px) {
.footer__container {
  flex-direction: column;
  justify-items: flex-start;
  align-content: space-between;
  min-height: calc(100% - 4rem);
}
}

@media (max-width: 425px) {
.footer__container {
  flex-direction: column;
  justify-items: flex-start;
  align-content: space-between;
  min-height: calc(100% - 3rem);
}
}


@media (max-width: 768px) {
.footer__container {
  min-width: calc(100% - 3rem);
}
}
