.place__paragraphs {
  grid-area: paragraphs;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  min-width: 450px;
  max-width: 37.85vw;
  word-break: break-word;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6; /*1.63 doesn't work properly*/
  /*letter-spacing: 0;*/
  color: #FFFFFF;
  text-align: start;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .place__paragraphs {
    min-width: 350px;
    max-width: 44.53vw;
  }
  }

@media (max-width: 768px) {
  .place__paragraphs {
    min-width: 288px;
    max-width: 45.83vw;
    font-size: 16px;
    line-height: 1.61;
  }
  }

@media (max-width: 656px) {
  .place__paragraphs {
    margin: 0 0 0 16px;
    max-width: 92.99vw;
    /*min-width: 300px;*/
    min-height: auto;
    /*font-size: 16px;
    line-height: 1.61; I have it in 768*/
  }
  }

@media (max-width: 320px) {
  .place__paragraphs {
    /*margin: 0 16px 0; no need here*/
    min-width: 280px;
    max-width: 90vw;
    font-size: 16px;
    line-height: 1.62;
  }
  }
