.intro__container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 442px 0 148px;
  padding: 0;
  min-width: 690px;
  max-width: 53.91vw;
  min-height: 429px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .intro__container {
    margin: 0 286px 0 48px;
    /*max-width: calc(100% - 334px);*/
    max-width: 67.38vw;
  }
  }

@media (max-width: 768px) {
  .intro__container {
    margin: 0 24px;
    /*max-width: calc(100% - 48px);*/
    max-width: 93.75vw;
    min-width: 288px;
  }
}

/*@media (max-width: 656px) {
  .intro__container {
    margin: 0 20px;
    max-width: calc(100% - 40px);
    min-width: 390px;
  }
  }

@media (max-width: 425px) {
  .intro__container {
    margin: 0 16px;
    max-width: calc(100% - 32px);
    min-width: 288px;
  }
  }no need now*/

@media (max-width: 320px) {
.intro__container {
  margin: 0 16px;
  max-width: 288px;
  min-width: 10vw;
  min-height: 754px;
}
}
