.lead__title {
  margin: 0 auto;
  padding: 0;
  min-width: 720px;
  max-width: 56.25vw; /*from 1280*/
  word-break: break-word;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  letter-spacing: 0;
  text-align: center;
  color: #FFFFFF;
}

@media (min-width: 1281px) {
  .lead__title {
    font-size: 7.5vw;
  }
  }

@media (max-width: 1024px) {
  .lead__title {
    max-width: 93.75vw;
  }
  }

@media (max-width: 768px) {
  .lead__title {
    min-width: 10vw; /*I put 10vw instead of 614px and don't need 425 and 656*/
    font-size: 12.5vw;
  }
  }

@media (max-width: 320px) {
  .lead__title {
    line-height: 1.1;
    max-width: 90vw;
    font-size: 40px; /*OK font-size: 12.5vw;*/
  }
  }
