.lead__title {
  margin: 0 auto;
  padding: 0;
  width: calc(100% - 13rem);
  word-break: break-word;
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1.04;
  letter-spacing: 0;
  text-align: center;
  color: #FFFFFF;
}

@media (max-width: 1280px) and (min-width: 320px) {
  /*96px - 40px */
  .lead__title{
  font-size: calc(2.5rem + 56 * (100vw - 320px) / 960);
}
}

@media (max-width: 320px) {
.lead__title {
  font-size: 2.5rem;
  line-height: 1.1;
  max-width: calc(100% - 1.5rem);
}
}

@media (max-width: 425px) {
.lead__title {
  font-size: 2.6rem;
  max-width: calc(100% - 1.5rem);
}
}

@media (max-width: 768px) {
  .lead__title {
    width: calc(100% - 1.5rem);
  }
}

@media (min-width: 1280px) {
.lead__title {
  width: calc(100% - 26.8%);
}
}
