.place__paragraph {
  width: 100%;
  margin: 0;
  padding: 0;
}

.place__paragraph:not(:last-child) {
  margin: 0 0 26px 0;
}

@media (max-width: 768px) {
  .place__paragraph:not(:last-child) {
    margin: 0 0 25px 0;
    line-height: 1.61;
  }
  }
