.place__paragraph {
  width: 100%;
  margin: 0;
  padding: 0;
}

.place__paragraph:not(:last-child) {
  margin: 0 0 26px 0;
}

@media (min-width: 1281px) {
  .place__paragraph {
    min-width: 484px;
    max-width: 49.19%;
  }
}
