.place__paragraphs_top {
  width: 100%;
  margin: 0;
}

/*@media (min-width: 425px) and (max-width: 656px) {
  .place__paragraphs {
    padding: 0 0 0 16px;
  }
  }*/

/*.place__paragraph_top {
  grid-area: paragraph_top;
  word-break: break-word;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.61;
  letter-spacing: 0;
  color: #FFFFFF;
  text-align: start;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

@media (max-width: 320px) {
.place__paragraph_top {
  font-size: 1rem;
  line-height: 1.63;
}
}

@media (max-width: 425px) {
.place__paragraph_top {
  font-size: 1rem;
  line-height: 1.63;
}
}

@media (max-width: 768px) {
.place__paragraph_top {
  font-size: 1rem;
  line-height: 1.61;
}
}

@media (min-width: 1280px) {
.place__paragraph_top {
  font-size: 1.12rem;
  line-height: 1.2;
}
}*/
