.lead__figure-container {
  position: relative;
  top: 0;
  left: 0;
  margin: 64px auto 0;
  text-align: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
.lead__figure-container {
    margin: 56px auto 0;
  }
  }

@media (max-width: 320px) {
.lead__figure-container {
    margin: 40px 0 0;
    max-width: 100%;
    min-width: 100vw;
  }
  }
