.intro__text {
  margin: 40px 0 0 0;
  padding: 0;
  width: 100%;
  min-height: 208px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
}

@media (min-width: 1281px) {
  .intro__text {
    font-size: 1.25vw;
  }
}
