.lead__subtitle {
  margin: 32px auto 0;
  padding: 0;
  min-width: 50vw;
  max-width: 50vw;
  text-align: center;
  word-break: break-word;
  font-style: normal;
  font-weight: 400;
  font-size: 2.34vw;
  line-height: 1.2;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .lead__subtitle {
    min-width: 640px;
    max-width: 62.5vw;
    font-size: 30px;
  }
  }

@media (max-width: 768px) {
  .lead__subtitle {
  min-width: 508px;
  max-width: 83.33vw;
  font-size: 30px;
  }
}
@media (max-width: 656px) {
.lead__subtitle {
  margin: 24px auto 0;
  max-width: 77.21vw;
  min-width: 288px;
  font-size: 4.6vw;
}
}

@media (max-width: 320px) {
.lead__subtitle {
  margin: 16px auto 0;
  min-width: 10vw;
  max-width: 90vw;
  font-size: 16px;
  line-height: 1.25;
}
}
