.photo-grid__items {
  display: grid;
  justify-content: center; /*allows to give definite margins in ph-grid*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  grid-template-rows: repeat(3, minmax(min-content, 1fr));
  gap: 16px;
}

/*@media (max-width: 425px) {
.photo-grid__items {
  margin: 0 1.5rem;
  max-width: calc(100% - 1.5rem);
  min-height: calc(100% - 3rem);
  grid-template-columns: repeat(auto-fit, minmax(80%, 1fr));
  gap: 0.75rem;
}
}*/

@media (max-width: 1024px) {
.photo-grid__items {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(4, minmax(min-content, 1fr));
  gap: 14px;
}
}

@media (max-width: 768px) {
  .photo-grid__items {
    grid-template-columns: repeat(2, minmax(212px, 1fr));
    gap: 16px;
  }
}

/*@media (max-width: 656px) {
  .photo-grid__items {
    grid-template-columns: repeat(2, minmax(212px, 1fr));
    gap: 12px;
  }
}*/

@media (max-width: 480px) {
  .photo-grid__items {
    grid-template-columns: repeat(auto-fit, minmax(222px, 1fr));
    gap: 12px;
  }
  }

@media (max-width: 320px) {
  .photo-grid__items {
    grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
    gap: 12px;
  }
  }
