.header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  top: 0;
  left: 0;
  box-sizing: border-box;
  min-height: calc(10vh - 1.75rem);
  margin: 1.75rem auto 0 auto;
  padding: 0;
  width: calc(100% - 6rem);
}

@media (max-width: 320px) {
  .header__container {
    align-items: flex-end;
    min-height: calc(1vh - 1rem);
    margin: 1rem auto 0 auto;
    padding: 0;
    width: calc(100% - 2rem);
  }
}

@media (max-width: 425px) {
  .header__container {
    margin: 1rem auto 0 auto;
    width: calc(100% - 1.5rem);
  }
}

@media (max-width: 768px) {

  .header__container {
    align-items: flex-end;
    min-height: calc(1vh - 1.75rem);
    margin: 1.75rem auto 0 auto;
    width: calc(100% - 3rem);
  }
}

@media (min-width: 1280px) {
  .header__container {
    min-height: calc(1vh - 1.75rem);
    width: calc(100% - 3rem);
  }
}
