.cover__title {
  margin: 0 auto;
  padding: 0;
  max-width: 43.75vw;
  min-width: 506px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.05;
  letter-spacing: 0;
  text-align: center;
  word-break: break-word;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  .cover__title {
    max-width: 560px;
  }
  }

@media (max-width: 768px) {
  .cover__title {
    font-size: 9.38vw;
    min-width: 37.50vw;
  }
  }

@media (max-width: 320px) {
.cover__title {
  font-size: 32px;
  min-width: 288px;
}
}
