.cover__title {
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1.05;
  letter-spacing: 0;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  max-width: 100%;
  padding: 0;
}
