.place {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35.94vw 40px minmax(-webkit-min-content, 1fr);
  -ms-grid-columns: 35.94vw 40px minmax(min-content, 1fr);
  grid-template-columns: 35.94vw minmax(-webkit-min-content, 1fr);
  grid-template-columns: 35.94vw minmax(min-content, 1fr);
  -ms-grid-rows: minmax(-webkit-min-content, 1fr);
  -ms-grid-rows: minmax(min-content, 1fr);
  grid-template-rows: minmax(-webkit-min-content, 1fr);
  grid-template-rows: minmax(min-content, 1fr);
  grid-template-areas:
    "title website"
    "image paragraphs";
  -webkit-column-gap: 40px;
  -moz-column-gap: 40px;
  column-gap: 40px;
  row-gap: 48px;
  margin: 0;
  padding: 0;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 1281px) {
  .place {
    -ms-grid-columns: 35.94% minmax(-webkit-min-content, 1fr);
    -ms-grid-columns: 35.94% minmax(min-content, 1fr);
    grid-template-columns: 35.94% minmax(-webkit-min-content, 1fr);
    grid-template-columns: 35.94% minmax(min-content, 1fr);
  }
  }

@media (max-width: 1024px) {
  .place {
    -ms-grid-columns: 42.97vw 32px minmax(-webkit-min-content, 1fr);
    -ms-grid-columns: 42.97vw 32px minmax(min-content, 1fr);
    grid-template-columns: 42.97vw minmax(-webkit-min-content, 1fr);
    grid-template-columns: 42.97vw minmax(min-content, 1fr);
    -webkit-column-gap: 32px;
    -moz-column-gap: 32px;
    column-gap: 32px;
  }
  }

@media (max-width: 768px) {
.place {
  -ms-grid-columns: 44.27vw 28px minmax(-webkit-min-content, 1fr);
  -ms-grid-columns: 44.27vw 28px minmax(min-content, 1fr);
  grid-template-columns: 44.27vw minmax(-webkit-min-content, 1fr);
  grid-template-columns: 44.27vw minmax(min-content, 1fr);
  -webkit-column-gap: 28px;
  -moz-column-gap: 28px;
  column-gap: 28px;
}
}

@media (max-width: 656px) {
  .place {
    -ms-grid-columns: minmax(-webkit-min-content, 1fr);
    -ms-grid-columns: minmax(min-content, 1fr);
    grid-template-columns: minmax(-webkit-min-content, 1fr);
    grid-template-columns: minmax(min-content, 1fr);
    -ms-grid-rows: auto 32px auto 32px auto 32px auto;
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraphs";
    row-gap: 32px;
  }
  }

@media (max-width: 320px) {
  .place {
    min-width: 90vw;
  }
  }
