.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 92px auto 24px;
  padding: 0;
  max-width: calc(100% - 96px);
  min-width: 920px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 1281px) {
  .footer {
    max-width: 92.50vw;
  }
}

@media (max-width: 1024px) {
  .footer {
    min-width: 700px;
  }
}

@media (max-width: 768px) {
  .footer {
    margin: 88px auto 24px;
    max-width: calc(100% - 48px);
    min-width: 180px;
  }
}

@media (max-width: 715px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: 64px auto 24px 20px;
    max-width: 61.18vw;
  }
  }

@media (max-width: 320px) {
.footer {
  -ms-flex-line-pack: justify;
  align-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 64px auto 24px 16px;
  max-width: 61.13vw;
}
}


