.menu__lang-link {
  margin: 2px 0 4px;
  position: relative;
  top: 0;
  left: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.17;
  color: #FFFFFF;
  text-decoration: none;
}

.menu__lang-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #FFFFFF;
  -webkit-transition: width 0.4s ease-in-out;
  -o-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.menu__lang-link:hover:after {
  cursor: pointer;
  width: 100%;
}

.menu__lang-link:last-of-type {
  display: block;
  margin-right: 0;
}

@media (max-width: 320px) {
  .menu__lang-link {
    font-size: 18px;
    line-height: 1.1;
  }
}
