.place__website {
  grid-area: website;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: stretch;
  align-self: end;
  margin: 0 0 2.9rem 0;
  padding: 0;
}
