.place__website {
  grid-area: website;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-grid-row-align: end;
  align-self: end;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 1281px) {
  .place__website {
    min-width: 456px;
    max-width: 35.63%;
  }
  }

@media (max-width: 1024px) {
  .place__website {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    min-height: 76px;
  }
  }

@media (max-width: 768px) {
  .place__website {
    min-height: 46px;
  }
  }

@media (max-width: 656px) {
  .place__website {
    margin: 0 auto 0 20px;
    max-width: 93.75vw;
    min-width: 300px;
  }
  }

@media (max-width: 320px) {
  .place__website {
    margin: 0 16px 0;
    max-width: 90vw;
    min-width: 280px;
  }
  }


