.place__paragraphs_bottom {
  margin: 26px 0 0 0;
  padding: 0;
}

.place__paragraphs_bottom:nth-of-type(3) {
  margin: 27px 0 0 0;
}

@media (max-width: 1024px) {
.place__paragraphs_bottom:nth-of-type(2n+1) {
  margin: 27px 0 0 0;
}
}

@media (max-width: 768px) {
  .place__paragraphs_bottom {
    margin: 25px 0 0 0;
  }
  }

/*@media (max-width: 320px) {
  .place__paragraphs_bottom {
    margin: 25px 0 0;
  }
  } no need for now*/

