.place__paragraphs_bottom {
  margin: 27px 0 0 0;
  padding: 0;
}

@media (max-width: 1024px) {
  .place__paragraphs_bottom {
    margin: 26px 0 0;
  }

.place__paragraphs_bottom:nth-of-type(2n) {
  margin: 1.62rem 0 0 0;
}

@media (max-width: 320px) {
.place__paragraphs_bottom {
  font-size: 1rem;
  line-height: 1.63;
  margin: 1.56rem 0 0 0;
}

.place__paragraphs_bottom:nth-of-type(2n) {
  margin: 1.56rem 0 0 0;
}
}

@media (max-width: 425px) {
.place__paragraphs_bottom {
  font-size: 1rem;
  line-height: 1.63;
  margin: 1rem 0 0 0;
}

.place__paragraphs_bottom:nth-of-type(2n) {
  margin: 1rem 0 0 0;
}
}

@media (max-width: 768px) {
.place__paragraphs_bottom {
  font-size: 1rem;
  line-height: 1.63;
  margin: 1.56rem 0 0 0;
}

.place__paragraphs_bottom:nth-of-type(2n) {
  margin: 1.56rem 0 0 0;
}
}

.place__paragraphs_bottom:nth-of-type(2n) {
  margin: 1.6rem 0 0 0;
}
}
