.intro__title {
  margin: 0;
  padding: 0;
  width: 100%;
  word-break: break-word;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.074;
  letter-spacing: 0;
  text-align: left;
  color: #FFFFFF;
}

@media (max-width: 718px) {
  .intro__title {
    /*min-height: 58px;*/
    font-size: 44px;
  }
  }

/*@media (max-width: 656px) { /*ch the line at 721 fs 54*/
  /*.intro__title {
    /*min-height: 58px;*/
    /*font-size: 50px;
    line-height: 1.07;
  }
  } no need now*/

/*@media (max-width: 544px) { /*ch the line at 721 fs 54*/
  /*.intro__title {
    /*min-height: 58px;*/
    /*font-size: 44px; /*44px*/
    /*line-height: 1.09;
  }
  } no need now*/

/*@media (max-width: 425px) {
  .intro__title {
    min-height: 70px;
    /*font-size: 36px;*/
    /*font-size: 10vw;
    line-height: 1.09;
  }
  } no need now*/

@media (max-width: 320px) {
.intro__title {
  min-height: 70px;
  font-size: 32px;
  line-height: 1.09;
}
}
