.intro__title {
  margin: 0;
  padding: 0;
  width: 100%;
  word-break: break-word;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.074;
  letter-spacing: 0;
  text-align: left;
  color: #FFFFFF;
}

@media (min-width: 1281px) {
  .intro__title {
    font-size: 3.22vw;
  }
}

@media (max-width: 718px) {
  .intro__title {
    font-size: 44px;
  }
  }

@media (max-width: 320px) {
  .intro__title {
    min-height: 70px;
    font-size: 32px;
    line-height: 1.09;
}
}
